html {
   background-color: #ffeecd;
   color: rgb(102, 75, 7);
   max-width: 500px;
   line-height: 20 px;
   font-family: "Computer Modern Serif", sans-serif;
   font-size: large;
   font-weight: lighter;
   padding-left: auto;
   padding-right: auto;
   margin-left: auto;
   margin-right: auto;
}

ul.nav {
   list-style-type: none;
   text-align: right;
   padding: 0;
   margin: 0;
}

li.nav {
   display: inline;
   padding-left: 5px;
   text-decoration: none;
}

a.nav {
   text-decoration: none;
}

div.divider {
   border-bottom: 1px solid black;
}

a {
   color: brown;
   font-weight: 800;
}

h2,
h1 {
   text-align: center;
}