html {
   text-align:center;
   font-family: 'Computer Modern Serif';
   background-color: rgb(234, 198, 150);  
   position:fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
#big-title {
   animation: bounceInDown;
   animation-duration: 2s;
}
#github-button {
   animation: bounceInLeft;
   animation-duration: 2s;
}
#linkedin-button {
   animation: bounceInUp;
   animation-duration: 2s;
}
#youtube-button {
   animation: bounceInRight;
   animation-duration: 2s;
}
.icon {
   width: 50px;
   height:50px;
   padding-left: 10px;
   padding-right:10px;
}
h1, h2 { 
   color: rgb(101, 69, 31);
}

h3 { 
   color: rgb(118, 88, 39);
}